* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: auto;
}

.main-content {
  width: 90%;
  margin: auto;
}

article p {
  max-width: 50%;
}